/* 自定义车牌号键盘 */
/* --clean-css="--s1 --advanced --compatibility=ie8" */

.block-license-plate-keyboard {
  position: fixed;
  bottom: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 10px;
  z-index: 12;
  background: #d1d5d9;
}

.license-delete-unit {
  width: 8px !important;
}

.license-delete {
  bottom: 12px;
  right: 10px;
  display: inline-block;
  width: 2.5rem;
  height: 35px;
  background: url("./icon_delete_back.png") center center no-repeat;
  background-size: 60%;
  background-color: #f3f3f3;
  border-radius: 3px;
}

.license-btn-hide {
  display: inline-block;
  width: 25px;
  height: .7rem;
  background: url("./icon_hide.png") center center no-repeat;
  background-size: 60%;
  line-height: 1;
}

.license-info {
  text-align: center;
  font-size: .7rem;
  color: #666;
  margin-top: -5px;
  margin-bottom: 8px;
  line-height: 1;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}

.license-list {
  > li {
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
    i {
      display: inline-block;
      width: 24px;
      height: 35px;
      pointer-events: none;
    }
    text {
      border-radius: 3px;
      background-color: #f3f3f3;
      text-align: center;
      display: inline-block;
      width: 24px;
      height: 35px;
      line-height: 35px;
      color: #333;
      font-size: .9rem;
      &:not(:last-child) {

      }
    }
  }
}




